

#topSection{background-image: url(Lexington-downtown-Christmas.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 700px;}


#mySkillsSection{background-color: rgb(22, 26, 27);}
#myProjectsSection{background-color: rgb(53, 118, 246);}
#contactMeSection{background-color: rgb(235, 235, 237);}

body{font-family: 'Share Tech', sans-serif;}

h1,h2,h3,h4,h5{font-family: 'Share Tech', sans-serif;font-size: 2.25rem;}
h1{color:rgb(235, 235, 237);}


p{font-size: 1.5rem;
    color:white;}